<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="MapName" serializeAs="String">
                <value />
            </setting>
            <setting name="Avalanches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AirThreat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerDrain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectCrystals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuildSpecificBuilding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificBuilding" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildSpecificUnit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="RescueSpecificUnit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificRescueUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="TileReach" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerrainType" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
</configuration>