<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <WindowsFormsApp2.Properties.Settings>
      <setting name="MapName" serializeAs="String">
        <value />
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Avalanches" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AirThreat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PowerDrain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DamageToPlayer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DamageFromPlayer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CreatureSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DebrisMultiplier" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Hunger" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SpawnChance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ErosionSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RepairCost" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AvalancheDamageToPlayer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Frequency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RateOfConsumption" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AirQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PowerDrainMultiplier" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CollectCrystals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrystalsCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BuildSpecificBuilding" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpecificBuilding" serializeAs="String">
        <value />
      </setting>
      <setting name="BuildSpecificUnit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpecificUnit" serializeAs="String">
        <value />
      </setting>
      <setting name="RescueSpecificUnit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpecificRescueUnit" serializeAs="String">
        <value />
      </setting>
      <setting name="TileReach" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TerrainType" serializeAs="String">
        <value />
      </setting>
      <setting name="NewMapWindowOpen" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormsApp2.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WindowsFormsApp2.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>